body {
    padding-left: 300px;
    padding-right: 200px;
    padding-top: 75px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: slategrey;

}

a {
    color: #00B7FF;
}
#data{
    padding: auto;
    color: #00B7FF;
}
div {

}